<add-to-cart
  {% if block and block.settings.floating_button == true %}
    class="fixed bottom-0 right-0 w-full bg-white p-4 z-50 flex"
  {% endif %}
>
  {% if block and block.settings.floating_button == true %}
    <div>
      {% if block.settings.show_product_name == true %}
        <h3>{{ product.title | escape }}</h3>
      {% endif %}
      {% if block.settings.show_product_price == true %}
        {% render 'price-v2', product: product, use_variant: true %}
      {% endif %}
    </div>
  {% endif %}
  {%- form 'product',
    product,
    id: product.id,
    class: 'form flex lg:gap-8 gap-2',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      class="product-variant-id"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
    {% if hasQtd %}
      {% render 'quantity-selector', addToCart: true %}
    {% else %}
      <input class="hidden" type="number" name="quantity" value="1" min="1">
    {% endif %}
    <button
      type="submit"
      name="add"
      class="bg-orange-500 opacity-80 hover:opacity-100 text-white w-full h-10 font-bold transition-all"
      aria-haspopup="dialog"
      aria-live="polite"
      data-sold-out-message="true"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
      {{ block.settings.button_text | default: 'ADICIONAR AO CARRINHO' }}
    </button>
  {%- endform -%}
</add-to-cart>
