<add-to-cart>
  {%- form 'product',
    product,
    id: product.id,
    class: 'form flex lg:gap-8 gap-2 w-full',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      class="product-variant-id"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
    {% if hasQtd %}
      {% render 'quantity-selector', addToCart: true %}
    {% else %}
      <input class="hidden" type="number" name="quantity" value="1" min="1">
    {% endif %}
    <button
      type="submit"
      name="add"
      class="color-button w-full h-10 font-bold transition-all hover:opacity-90"
      aria-haspopup="dialog"
      aria-live="polite"
      data-sold-out-message="true"
      data-text-desktop="{{ block.settings.button_text | default: 'ADICIONAR AO CARRINHO' }}"
      data-text-mobile="Adicionar"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
      {{ block.settings.button_text | default: 'ADICIONAR AO CARRINHO' }}
    </button>
  {%- endform -%}
</add-to-cart>
