<div class="flex gap-4 justify-end items-center max-lg:!flex-1 max-lg:order-3" style="flex: {{ flex }};">
  <a
    class="transition-colors hidden lg:block {% if header_type == "fixed-transparent" %} text-[--icons_color] lg:text-[--icons_color2] lg:group-hover:text-[--icons_color] lg:group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}"
    href="{{ routes.account_url }}"
  >
    {% render 'icon-wishlist', size: 24 %}
  </a>

  <a
    class="transition-colors {% if header_type == "fixed-transparent" %} text-[--icons_color] lg:text-[--icons_color2] lg:group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}"
    href="{{ routes.account_url }}"
  >
    {% render 'icon-user', size: 24 %}
  </a>

  <button
    id="minicart-button"
    class="relative transition-colors {% if header_type == "fixed-transparent" %} lg:text-[--icons_color2] lg:group-hover:text-[--icons_color] lg:group-[.is-scrolling]:text-[--icons_color] text-[--icons_color]{% endif %}"
  >
    {% render 'icon-cart', size: 24 %}
    <div
      id="qtd-bubble"
      class="{% if cart.item_count > 0 %}flex{% else %}hidden{% endif %}
      w-[18px] h-[18px] rounded-full transition-colors text-xs font-medium items-center justify-center  absolute top-[-3px] left-[14px]
      {% if header_type == "fixed-transparent" %} lg:bg-[--icons_color2] lg:text-[--icons_color] lg:group-hover:text-[--icons_color2] lg:group-hover:bg-[--icons_color] lg:group-[.is-scrolling]:text-[--icons_color2] lg:group-[.is-scrolling]:bg-[--icons_color]{% endif %} text-[--icons_color] bg-[--icons_color2]"
    >
      {{ cart.item_count }}
    </div>
  </button>
</div>
