<quantity-selector class="border border-black p-1 flex h-10 w-fit max-w-28">
  <button
    type="button"
    name="minus"
    aria-label="{{ 'product.general.decrease_quantity' | t }}"
    class="h-full flex items-center justify-center w-[25px]"
  >
    {% render 'icon-minus', size: 16 %}
  </button>
  <input
    type="number"
    name="quantity"
    value="1"
    min="1"
    aria-label="{{ 'product.general.quantity' | t }}"
    inputmode="numeric"
    pattern="[0-9]*"
    class="h-full text-center w-[50px]"
  >
  <button
    type="button"
    name="plus"
    aria-label="{{ 'product.general.increase_quantity' | t }}"
    class="h-full flex items-center justify-center w-[25px]"
  >
    {% render 'icon-plus', size: 16 %}
  </button>
</quantity-selector>
