<div class="flex-[{{ flex }}]" style="flex: {{ flex }};">
  <search-component class="w-full">
    <form action="{{ routes.search_url }}" method="get" role="search">
      <div class="flex rounded-full py-1 px-3 bg-[#f1f1f180]">
        <input
          class="w-full bg-transparent focus:outline-none focus:ring-0 focus:border-transparent
          focus-visible:outline-none focus-visible:ring-0"
          id="Search-In-Template"
          type="text"
          autocomplete="off"
          name="q"
          value="{{ search.terms | escape }}"
        >
        <button
          type="submit"
          class="{% if header_type == "fixed-transparent" %}text-[--icons_color2] group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}"
        >
          {% render 'icon-search', size: 25 %}
        </button>
      </div>
    </form>
  </search-component>
</div>
