{% assign media_size = section.settings.media_size %}
{% assign media_position = section.settings.media_position %}

<div class="page-width color-{{ section.settings.color_scheme }}">
  {% comment %}
    {%- comment -%} Breadcrumb {%- endcomment -%}
    {% render 'breadcrumb' %}
  {% endcomment %}

  <div
    product-context
    class="flex flex-col gap-5 {% if media_position == 'left' %} lg:flex-row {% else %} lg:flex-row-reverse {% endif %}"
  >
    <div
      class="overflow-hidden {% if media_size == 'small' or media_size == 'medium' %} lg:flex-1 {% elsif media_size == 'large' %} lg:flex-[2] {% endif %}"
    >
      {% render 'main-product-left' %}
    </div>
    <div class="{% if media_size == 'medium' or media_size == 'large' %} lg:flex-1 {% elsif media_size == 'small' %} lg:flex-[2] {% endif %}">
      {% render 'main-product-right', blocks: section.blocks %}

      {%- comment -%} Sticky Add to Cart (Mobile) {%- endcomment -%}
      {% render 'sticky-add-to-cart', product: product, section: section %}
    </div>
  </div>
</div>

{%- comment -%} SEO: Product Schema & Breadcrumb {%- endcomment -%}
{% render 'schema-product', product: product %}
{% render 'schema-breadcrumb', product: product %}

{% schema %}
{
  "name": "t:sections.main_product.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.main_product.settings.color_scheme.label",
      "default": "scheme-1",
      "info": "t:sections.main_product.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.main_product.settings.media_header.content"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main_product.settings.media_size.options.small"
        },
        {
          "value": "medium",
          "label": "t:sections.main_product.settings.media_size.options.medium"
        },
        {
          "value": "large",
          "label": "t:sections.main_product.settings.media_size.options.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.main_product.settings.media_size.label",
      "info": "t:sections.main_product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main_product.settings.gallery_layout.options.stacked"
        },
        {
          "value": "two_columns",
          "label": "t:sections.main_product.settings.gallery_layout.options.two_columns"
        },
        {
          "value": "one_images_slider",
          "label": "t:sections.main_product.settings.gallery_layout.options.one_images_slider"
        },
        {
          "value": "two_images_slider",
          "label": "t:sections.main_product.settings.gallery_layout.options.two_images_slider"
        },
        {
          "value": "thumbnails_gallery",
          "label": "t:sections.main_product.settings.gallery_layout.options.thumbnails_gallery"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main_product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main_product.settings.media_position.options.left"
        },
        {
          "value": "right",
          "label": "t:sections.main_product.settings.media_position.options.right"
        }
      ],
      "default": "left",
      "label": "t:sections.main_product.settings.media_position.label",
      "info": "t:sections.main_product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main_product.settings.image_zoom.options.lightbox"
        },
        {
          "value": "hover",
          "label": "t:sections.main_product.settings.image_zoom.options.hover"
        },
        {
          "value": "none",
          "label": "t:sections.main_product.settings.image_zoom.options.none"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main_product.settings.image_zoom.label",
      "info": "t:sections.main_product.settings.image_zoom.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "columns",
          "label": "t:sections.main_product.settings.mobile_thumbnails.options.columns"
        },
        {
          "value": "show",
          "label": "t:sections.main_product.settings.mobile_thumbnails.options.show"
        },
        {
          "value": "hide",
          "label": "t:sections.main_product.settings.mobile_thumbnails.options.hide"
        }
      ],
      "default": "hide",
      "label": "t:sections.main_product.settings.mobile_thumbnails.label"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.main_product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.main_product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main_product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main_product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main_product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main_product.blocks.inventory.settings.text_style.options.body"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main_product.blocks.inventory.settings.text_style.options.subtitle"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main_product.blocks.inventory.settings.text_style.options.uppercase"
            }
          ],
          "default": "body",
          "label": "t:sections.main_product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main_product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main_product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main_product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true,
          "info": "t:sections.main_product.blocks.inventory.settings.show_inventory_quantity.info"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main_product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "sideToBuyButton",
          "label": "t:sections.main_product.blocks.quantity_selector.settings.sideToBuyButton.label",
          "info": "t:sections.main_product.blocks.quantity_selector.settings.sideToBuyButton.info",
          "default": true
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main_product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main_product.blocks.variant_picker.settings.picker_type.options.dropdown"
            },
            {
              "value": "button",
              "label": "t:sections.main_product.blocks.variant_picker.settings.picker_type.options.button"
            }
          ],
          "default": "button",
          "label": "t:sections.main_product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.main_product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.main_product.blocks.variant_picker.settings.swatch_shape.options.circle"
            },
            {
              "value": "square",
              "label": "t:sections.main_product.blocks.variant_picker.settings.swatch_shape.options.square"
            },
            {
              "value": "none",
              "label": "t:sections.main_product.blocks.variant_picker.settings.swatch_shape.options.none"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_button",
      "name": "t:sections.main_product.blocks.buy_button.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.buy_button.settings.settings_header.content"
        },
        {
          "type": "text",
          "label": "t:sections.main_product.blocks.buy_button.settings.button_text.label",
          "id": "button_text",
          "default": "ADICIONAR AO CARRINHO"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.buy_button.settings.floating_header.content"
        },
        {
          "type": "checkbox",
          "label": "t:sections.main_product.blocks.buy_button.settings.floating_button.label",
          "info": "t:sections.main_product.blocks.buy_button.settings.floating_button.info",
          "id": "floating_button",
          "default": true
        },
        {
          "type": "checkbox",
          "label": "t:sections.main_product.blocks.buy_button.settings.show_product_name.label",
          "id": "show_product_name",
          "default": true
        },
        {
          "type": "checkbox",
          "label": "t:sections.main_product.blocks.buy_button.settings.show_product_price.label",
          "id": "show_product_price",
          "default": true
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main_product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_title",
          "label": "t:sections.main_product.blocks.description.settings.show_title.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title_text",
          "label": "t:sections.main_product.blocks.description.settings.title_text.label",
          "default": "Descrição"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main_product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Linha recolhível",
          "label": "t:sections.main_product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main_product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main_product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "assurances",
      "name": "t:sections.main_product.blocks.assurances.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.assurances.settings.item_1_header.content"
        },
        {
          "type": "text",
          "id": "item_1_title",
          "label": "t:sections.main_product.blocks.assurances.settings.item_title.label",
          "default": "Envio para todo o Brasil"
        },
        {
          "type": "text",
          "id": "item_1_text",
          "label": "t:sections.main_product.blocks.assurances.settings.item_text.label",
          "default": "Frete grátis acima de R$ 499"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.assurances.settings.item_2_header.content"
        },
        {
          "type": "text",
          "id": "item_2_title",
          "label": "t:sections.main_product.blocks.assurances.settings.item_title.label",
          "default": "Troca grátis em 30 dias"
        },
        {
          "type": "text",
          "id": "item_2_text",
          "label": "t:sections.main_product.blocks.assurances.settings.item_text.label",
          "default": "Primeira troca por nossa conta"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.assurances.settings.item_3_header.content"
        },
        {
          "type": "text",
          "id": "item_3_title",
          "label": "t:sections.main_product.blocks.assurances.settings.item_title.label",
          "default": "Compra 100% segura"
        },
        {
          "type": "text",
          "id": "item_3_text",
          "label": "t:sections.main_product.blocks.assurances.settings.item_text.label",
          "default": "Ambiente protegido e criptografado"
        }
      ]
    },
    {
      "type": "payment_icons",
      "name": "t:sections.main_product.blocks.payment_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_title",
          "label": "t:sections.main_product.blocks.payment_icons.settings.show_title.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main_product.blocks.payment_icons.settings.title.label",
          "default": "Formas de Pagamento"
        },
        {
          "type": "select",
          "id": "icon_style",
          "label": "t:sections.main_product.blocks.payment_icons.settings.icon_style.label",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main_product.blocks.payment_icons.settings.icon_style.options.color"
            },
            {
              "value": "grayscale",
              "label": "t:sections.main_product.blocks.payment_icons.settings.icon_style.options.grayscale"
            }
          ],
          "default": "color"
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "t:sections.main_product.blocks.payment_icons.settings.icon_size.label",
          "options": [
            {
              "value": "small",
              "label": "t:sections.main_product.blocks.payment_icons.settings.icon_size.options.small"
            },
            {
              "value": "medium",
              "label": "t:sections.main_product.blocks.payment_icons.settings.icon_size.options.medium"
            },
            {
              "value": "large",
              "label": "t:sections.main_product.blocks.payment_icons.settings.icon_size.options.large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "checkbox",
          "id": "show_installment_text",
          "label": "t:sections.main_product.blocks.payment_icons.settings.show_installment_text.label",
          "default": true
        },
        {
          "type": "text",
          "id": "installment_text",
          "label": "t:sections.main_product.blocks.payment_icons.settings.installment_text.label",
          "default": "Parcele em até 6x sem juros no cartão de crédito"
        }
      ]
    }
  ]
}
{% endschema %}
