@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    [type="search"] {
        -webkit-appearance: none;
        outline-offset: 0;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    label.swatch-label.is-unavailable {
        border-style: dashed;
        border-color: theme('colors.gray.400');
    }

    label.swatch-label.is-unavailable::after {
        content: '';
        width: calc(40px * 1.414);
        height: 1px;
        background-color: rgb(var(--color-foreground));
        transform: rotate(-45deg);
        position: absolute;
    }
    
    label.not-swatch.is-unavailable {
        text-decoration: line-through;
    }
}

@layer utilities {
    /* Esconde a barra de rolagem (usado no modo "grid" deslizável no mobile) */
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}