@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    [type="search"] {
        -webkit-appearance: none;
        outline-offset: 0;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .is-scrolling {
        background-color: var(--bg-header);
    }
}